networks:
  dev:
    driver: bridge

volumes:
  db-data: {}
  shared-volume: {}
  redis-data: {}
  blob_data: {}

services:
  controllers:
    image: ${DOCKER_REGISTRY-}controllers
    container_name: api-dev
    build:
      context: .
      dockerfile: Controllers/Dockerfile
    volumes:
      - shared-volume:/shared/volume
      - ./logs:/app/logs
    depends_on:
      postgis:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      - ConnectionStrings__DefaultConnection=User ID=${POSTGRES_USER};Password=${POSTGRES_PASSWORD};Host=${POSTGRES_HOST};Port=${POSTGRES_PORT};Database=${POSTGRES_DB};
      - Redis__Host=${REDIS_HOST}
      - Redis__Port=${REDIS_PORT}
      - Mail__Host=mailpit
      - ASPNETCORE_URLS=http://+:8080
      - ASPNETCORE_HTTP_PORTS=8080
      - Blob__ConnectionString=DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;BlobEndpoint=http://azurite:10000/devstoreaccount1;
      - FACEBOOK_APP_ID=${FACEBOOK_OAUTH_CLIENT_ID}
      - FACEBOOK_APP_SECRET=${FACEBOOK_OAUTH_CLIENT_SECRET}
      - Logging__LogLevel__Microsoft.EntityFrameworkCore.Database.Command=Warning
    ports:
      - "${API_PORT:-5111}:8080"
    networks:
      - dev

  tests:
    build:
      context: .
      dockerfile: Tests/Dockerfile
    container_name: tests
    depends_on:
      - postgis
      - redis
    environment:
      - ConnectionStrings__DefaultConnection=User ID=${POSTGRES_USER};Password=${POSTGRES_PASSWORD};Host=postgis;Port=${POSTGRES_PORT};Database=${POSTGRES_DB};
      - Redis__Host=${REDIS_HOST}
      - Redis__Port=${REDIS_PORT}
      - ASPNETCORE_ENVIRONMENT=Test
    volumes:
      - shared-volume:/shared/volume
    networks:
      - dev
    stdin_open: true
    tty: true

  postgis:
    image: postgis/postgis:17-3.5
    container_name: postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready -U ${POSTGRES_USER} -h ${POSTGRES_HOST} -d ${POSTGRES_DB}",
        ]
      interval: 10s
      retries: 5
      start_period: 10s
      timeout: 5s
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    networks:
      - dev
    restart: unless-stopped

  mailpit:
    image: axllent/mailpit:v1.27.9
    container_name: mailpit-dev
    hostname: mailpit
    ports:
      - "${MAILPIT_PORT:-63854}:8025"
      - "1025:1025"
    networks:
      - dev
    restart: unless-stopped

  redis:
    image: redis:8.2
    container_name: redis-dev
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s
    ports:
      - "${REDIS_PORT:-63852}:6379"
    volumes:
      - redis-data:/data
    networks:
      - dev
    restart: unless-stopped

  web:
    image: nginx
    container_name: nginx-dev
    volumes:
      - ./templates/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./cert:/etc/nginx/certs:ro
    ports:
      - "${NGINX_HTTP_PORT:-80}:80"
      - "${NGINX_HTTPS_PORT:-443}:443"
    environment:
      - NGINX_HOST=localhost
    depends_on:
      - controllers
      - azurite
      - client
    networks:
      - dev
    restart: unless-stopped

  client:
    build:
      context: ./Client
      dockerfile: Dockerfile
      args:
        BUILD_CONFIGURATION: Debug
    volumes:
      - ./Client:/app
      - /app/node_modules
      - shared-volume:/shared/volume
    environment:
      NODE_ENV: development
      HMR_HOST: "localhost"
      HMR_PORT: "443"
    stdin_open: true
    tty: true
    networks:
      - dev

  azurite:
    image: mcr.microsoft.com/azure-storage/azurite
    container_name: azurite-dev
    ports:
      - "${AZURITE_BLOB_PORT:-10000}:10000"
      - "${AZURITE_QUEUE_PORT:-10001}:10001"
      - "${AZURITE_TABLE_PORT:-10002}:10002"
    volumes:
      - blob_data:/data
    networks:
      - dev
