@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(37% 0 0);
  --color-base-200: oklch(12% 0.042 264.695);
  --color-base-300: oklch(49% 0.27 292.581);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(49% 0.27 292.581);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(49% 0.27 292.581);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(49% 0.27 292.581);
  --color-accent-content: oklch(98% 0.003 247.858);
  --color-neutral: oklch(37% 0 0);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(79% 0.184 86.047);
  --color-info-content: oklch(12% 0.042 264.695);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(12% 0.042 264.695);
  --color-warning: oklch(64% 0.222 41.116);
  --color-warning-content: oklch(12% 0.042 264.695);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(12% 0.042 264.695);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
}

